@font-face {
    font-family: 'saaseriesw01-emdregular';
    src: url('fonts/saa_series_w01_em_d-webfont.woff2') format('woff2'),
         url('fonts/saa_series_w01_em_d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
background-color: black;
}

/* ================================================ */
/*			       	   	SVG styling total  							*/
/* ================================================ */

.art {
position: relative;
/* display: block;
margin-left: auto;
margin-right: auto;
text-align: center; */
fill: white;
margin-left: auto;
margin-right: auto;
margin-top: 5em;
width: 80%;
text-align: center;
}

/* ===================Einde div==================== */

/* ================================================ */
/*			       	   	SVG styling    	   							*/
/* ================================================ */

.blue {
    fill: #3F51B5;
}
.amber {
    fill: #FFC107;
}
.groen {
    fill: #CDDC39;
}
.red {
    fill: #EF5350;
}
.white {
  fill: #FFFFFF;

}

/* ===================Einde kleur================== */


/* ================================================ */
/*			       	   	SVG styling Hover   						*/
/* ================================================ */

/* =====lights hover====== */
#lightletters {
position: absolute;
opacity: 50%;
/* margin-left: 35px; */
transition: 0.5s;
}

#lightletters:hover {
opacity: 100%;
}

/* =====years hover====== */
#yearsletters {
position: absolute;
opacity: 50%;
transition: 0.5s;
}

#yearsletters:hover {
opacity: 100%;
}

/* =====undertitle hover====== */
#undertitle {
font-size: 1em;
text-align: center;
margin-top: 2em;
color: white;
opacity: 70%;
font-family: 'saaseriesw01-emdregular';
}

/* #undertitle:hover {
opacity: 100%;
} */

/* ===================Einde hover================== */


/* ================================================ */
/*			       	 	buttons styling    	   						*/
/* ================================================ */

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  max-width: 50%;
  text-align: center;
  justify-content:space-around;
}
button {
  padding: 1em 2em 1em 2em;
  margin-bottom: 5em;
  margin-left: 1em;
  border: 0;
  color: white;
  font-size: 1em;
  font-family: 'saaseriesw01-emdregular';
}

/* button:hover {
  cursor: pointer;
	box-shadow: inset 0 -3.125rem 0 rgb(255,255,255, 0.3);
	-webkit-transition: -webkit-box-shadow .35s ease-in-out;
  color: black;
} */

button:nth-of-type(1) {
  background-color: #3F51B5;
}
button:nth-of-type(2) {
  background-color: #FFC107;
}
button:nth-of-type(3) {
  background-color: #CDDC39;
}
button:nth-of-type(4) {
  background-color: #EF5350;
}
button:nth-of-type(5) {
  color: black;
}
/* button:nth-of-type(5):hover {
	box-shadow: inset 0 -3.125rem 0 rgb(185, 172, 172, 0.3);
	-webkit-transition: -webkit-box-shadow .35s ease-in-out;
} */

/* ===================Einde button================== */

/* ================================================ */
/*			       	       Slider    	     	   					*/
/* ================================================ */

/* .schuivert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #7F7F7F;
}
.schuivert::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
}

#rangeValue {
  color: white;
  font-size: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'saaseriesw01-emdregular';
  margin-bottom: -1em;
} */

/* ================================================ */
/*			       	       Keyboard    	    						*/
/* ================================================ */

.TypografieYears {
  fill: #990000;
}
.TypografieLetters {
  fill: #000099;
}

/* ===================Einde keyboard=============== */

/* ================================================ */
/*			       	      TouchEvent    	   						*/
/* ================================================ */

.verandering{
  text-shadow: 0px 0px 10px #F8F1CD;
}






/* =================Einde TouchEvent=============== */

/* ================================================ */
/*			       	     Media Query    	   						*/
/* ================================================ */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 425px) {
  body {
    transform: rotate(90deg);
    margin-top: 0em;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .art {
    min-width: 150%;
    position: relative;
    fill: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .buttons {
      margin-left: 50%;
  }
}

@media screen and (max-width: 425px) {
  button {
      padding: 0.5em 1em 0.5em 1em;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 425px) {
  #undertitle {
    font-size: 1em;
    min-width: 150%;
    margin-left: 0em;
  }
}

/* @media screen and (max-width: 425px) {
  .schuivert {
  margin-left: 50%;
  margin-bottom: -3em;
  }
} */

/* @media screen and (max-width: 425px) {
  #rangeValue {
  display: none;
  }
} */




/* ===================Einde button================= */
