@font-face {
    font-family: 'saaseriesw01-emdregular';
    src: url('fonts/saa_series_w01_em_d-webfont.woff2') format('woff2'),
         url('fonts/saa_series_w01_em_d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
background-color: black;
}

.art {
position: relative;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 17%;
cursor: crosshair;
}

/* SVG styling *begin* */

.cls-1 {
  fill: white;

}

/* SVG styling *eind* */

/* (hover) effect light *begin* */

#lightletters {
position: absolute;
opacity: 50%;
margin-left: 35px;
transition: 0.5s;
}

#lightletters:hover {
opacity: 100%;
}

/* (hover) effect light *end* */

/* (hover) effect years *begin* */

#yearsletters {
position: absolute;
opacity: 50%;
transition: 0.5s;
}

#yearsletters:hover {
opacity: 100%;
}

/* (hover) effect years *end* */

/* (hover) undertitle *begin* */

#undertitle {
font-size: 16px;
text-align: center;
margin-top: 7em;
color: white;
opacity: 70%;
font-family: 'saaseriesw01-emdregular';
}

#undertitle:hover {
opacity: 100%;

}



/*  (hover) CSS undertitle *einde* */





/* CSS undertitle *end* */










/* test op test.html */
